mixin content(imgs, videos)
    div.slider
        for image in imgs
            div.slider__item
                img(src="https://drive.google.com/uc?id=" + image alt=image)
        for video in videos
            div.slider__item
                iframe(src="https://www.youtube.com/embed/" + video frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)    

    div.button__container
        img(src="/assets/imgs/mush.png")
        div.word__container
            p 나를 눌러라!
    