// Config

@import "./config/_reset.scss";
@import "./config/_variables.scss";
@import "./config/_mixins";

// Components

@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/slider.scss";

// Screens

@import "./screens/home.scss";
@import "./screens/owner.scss";

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "MaruBuri", "MaruBuriExtraLight", "MaruBuriLight", "MaruBuriBold",
    "MaruBuriSemiBold";
  width: 100vw;
  height: 100vh;
}
.about__img {
  margin-top: 30px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  img {
    height: 100%;
    object-fit: contain;
  }
}
.about__txt {
  padding: 0 50px;
  margin-top: 30px;
  p {
    margin-top: 10px;
  }
}
