header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    font-weight: 600;
    text-transform: uppercase;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 30px;
    }
  }
}
