extends base.pug

block content
    div.about__img
        img(src="assets/imgs/[1080px][2021]mush.png")
    div.about__txt   
        p 2021 서울대학교 미술대학 서양화과 전기 졸업전시
        p 서울시 관악구 관악로 1 서울대학교 미술대학 50동, 51동, 52동 74동
        p 1, Gwanak-ro, Gwanak-gu, Seoul, Seoul Nat’l Univ. College of Fine Arts 50, 51, 52, 74
        p 2021.12.9.~ 2021.12.16.
        p @snufa2021
        p http://art.snu.ac.kr/ 서울대학교 미술 대학
        p 디자인 : 이시윤 & 여건주
        p 홈페이지 : 이시윤