extends base.pug
include mixins/owner
include mixins/content

block content
    +content(data.img0, data.video0)
    +owner(data.name, data.engName, data.insta, data.web, data.email, data.welcome)
    