header
    a(href="/") home
    nav
        ul
            li
                a(href="/about") about us
            li
                a(href="https://www.snupainting.org/%EB%B3%B5%EC%A0%9C-2020") archive 